body {
  margin: 10px;
}

.container {
  padding: 10px;
  width: 40%;
  display: block;
  clear: both;
  margin-right: auto;
  margin-left: auto;
}

.column{
	float: left;
	width: auto;
	display: inline-block;
	border: 1px;
}

.center{
	text-align: center;
}

a.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}